* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(background.png);
	background-size: cover;
}

.box {
	margin: auto;
	margin-top: 300px;
	width: 300px;
	height: 300px;
	border-collapse: collapse;
	background-color: white;
	box-shadow: 25px 25px 15px 20px black;
}

td {
	width: 100px;
	height: 100px;
	text-align: center;
	font-size: 2rem;
	cursor: pointer;
}

#but1 {
	border-bottom: 5px solid black;
	border-right: 5px solid black;
}

#but2 {
	border-right: 5px solid black;
}

#but3 {
	border-bottom: 5px solid black;
}

#but4 {
	border-bottom: 5px solid black;
}

#but5 {
	border: 5px solid black;
}

#but6 {
	border-bottom: 5px solid black;
}

#but7 {
	border-right: 5px solid black;
}

#but8 {
	border-right: 5px solid black;
}


button {
	background-color: rgba(0, 0, 0, 0.3);
	width: 300px;
	height: 40px;
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.4rem;
	border: none;
	border-radius: 2px;
	box-shadow: 10px 10px 10px 5px black;
	cursor: pointer;
}

button:hover {
	color: white;
}