* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


p {
	width: 100px;
	height: 100px;
	position: absolute;
	border-radius: 50%;
	text-align: center;
	padding-top: 40px;
	color: white;
}

#one {
	top: 50px;
	left: 1150px;
	background-color: blue;
}

#two {
	top: 50px;
	left: 50px;
	background-color: red;
}

div {
	width: 600px;
	height: 600px;
}